@keyframes borderAnimation {
	0% {
		border-image: linear-gradient(60deg,  var(--accent-two), var(--primary), orange) 10 stretch;
	}

	20% {
		border-image: linear-gradient(120deg,  var(--primary), orange, var(--accent-two)) 10 stretch;
	}


	40% {
		border-image: linear-gradient(180deg, orange, var(--accent-two), var(--primary)) 10 stretch;
	}

	60% {
		border-image: linear-gradient(240deg,  var(--accent-two), var(--primary), orange) 10 stretch;
	}

	80% {
		border-image: linear-gradient(300deg,  var(--primary), orange, var(--accent-two)) 10 stretch;
	}


	100% {
		border-image: linear-gradient(360deg, orange, var(--accent-two), var(--primary)) 10 stretch;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}