@import url(./style.css);
@import url(./quiz.css);

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --secondary: #ffffff;
  --accent: #ece5dd;
  --primary: #4f5255;
  --text: #4f5255a0;
  --black: #000000;
  --accent-two: #a2a2f9;
  --aclonica: "Aclonica", sans-serif;
  --cinzel: "Cinzel", serif;
  --inter: "Inter", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --form-valid: #25d366;
  --form-error: #f70000;
  --form-good: orange;
}

html {
  font-size: 62.5%;
}

body {
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  color: var(--accent);
  font-family: var(--inter);
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "";
  cursor: pointer;
}

h1 {
  font-size: 3.2rem;
  font-family: var(--aclonica);
}

h2 {
  font-family: var(--inter);
}

p {
  font-family: var(--inter);
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

button {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  border: transparent;
  outline: transparent;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: var(--primary);
  font-family: var(--poppins);
}

main {
  width: 100%;
  height: 100vh;
  padding: 0% 2%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile-icon {
  width: 30%;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-img-wrapper {
  width: 50px;
  height: 50px;
}

.profile-img-wrapper > img {
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
}

/*scoreboard design*/
.scoreboard {
  width: 40%;
}

.scoreboard-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.scoreboard-wrapper p {
  font-size: 1.6rem;
  font-weight: 400;
}

.scoreboard-wrapper span {
  font-size: 1.8rem;
  font-weight: 400;
}

/*hamburger menu design*/
.hamburger-menu {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hamburger-wrapper {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
  transition: 550ms ease-in-out;
  overflow: hidden;
}

.hamburger-wrapper.click > #top,
.hamburger-wrapper.click > #bottom {
  transform: translate(-500%, 0%);
}

.hamburger-wrapper.click > #middle {
  transform: translate(-500%, 0%);
  width: 60%;
}

.stick,
.non-stick {
  width: 100%;
  padding: 0px;
  height: 2px;
  background-color: var(--accent);
  transition: 850ms ease-in-out;
}

#top {
  width: 80%;
  transform: translate(0, 0);
  transition: 100ms ease-in-out;
}

#middle {
  transform: translate(0, 0);
  width: 60%;
  transition: 750ms ease-in-out;
}

#bottom {
  width: 40%;
  transition: 950ms ease-in-out;
}

#cross-one {
  width: 40%;
  transform: translate(50px, -50px) rotate(45deg);
  background-color: var(--accent);
}

#cross-two {
  width: 40%;
  transform: translate(-50px, 50px) rotate(-45deg);
  background-color: var(--accent);
}
/*menu design*/
.menu-bar {
  width: 0%;
  height: 0vh;
  padding: 2rem 0 0;
  border-radius: 0 1.5rem 0 0;
  display: flex;
  visibility: visible;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 2.5rem;
  position: absolute;
  top: 0;
  left: -3%;
  z-index: 2;
  transition: 500ms ease-in-out;
  background-color: var(--accent);
  transform: translate(-100px, 0);
  box-shadow: -5px 3px 15px 0px white;
}

.menu-bar {
  visibility: hidden;
}

.menu-bar > div {
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-left: 5%;
  opacity: 1;
}

.menu-profile {
  margin-top: 5.5rem;
}

.menu-bar > div > a {
  width: fit-content;
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--inter);
  text-decoration: none;
  transition: color 500ms ease-in-out;
}

.menu-bar > div > a:hover {
  color: var(--accent-two);
}

/*Welcome section design*/
#welcome-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.welcome-greeting {
  width: 100%;
  margin-bottom: 15.5rem;
}

.welcome-greeting > h1 {
  font-size: 2.8rem;
  font-family: var(--inter);
  margin-bottom: 0.5rem;
}

.welcome-greeting > h1 > span {
  color: var(--accent-two);
}

.welcome-greeting > p {
  font-weight: 400;
  font-size: 1.6rem;
}

.start-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn > button {
  background: var(--accent);
  position: relative;
  transition: 500ms ease-in-out;
  overflow: hidden;
  z-index: 1;
  color: var(--primary);
  border: 1px solid var(--accent);
}

.start-btn > button.active {
  color: var(--secondary);
  transition: all 850ms ease-in-out;
}

.start-btn > button.active::before {
  transform: translate(0%, 0%);
  background: var(--primary);
  color: var(--secondary);
}
/*
.btn-wrapper button:hover::before {
	transform: translate(0%);
	background: var(--accent-two);
}
*/
.start-btn button::before {
  content: "";
  width: 52%;
  height: 100%;
  transform: translate(-150%, -150%);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary);
  transition: 550ms ease-in-out;
  z-index: -1;
}
/*
.btn-wrapper button:hover::after {
	transform: translateX(0%) translateY(0%);
	background: var(--accent-two);
}
*/

.start-btn button.active::after {
  transform: translate(0%, 0%);
  background: var(--primary);
  color: var(--secondary);
}

.start-btn button::after {
  content: "";
  width: 52%;
  height: 100%;
  transform: translate(150%, 150%);
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primary);
  transition: 850ms ease-in-out;
  z-index: -1;
}

/*quiz page*/
#quiz-page {
  display: none;
}

body.flex #welcome-section {
  display: none;
}

body.flex #quiz-page {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 1rem;
  padding: 1rem;
}

.quiz-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.quiz-page-header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-page-header > button {
  background-color: transparent;
  border: 1px solid var(--accent-two);
  color: var(--primary);
}

.quiz-question-show {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question-info {
  width: 100%;
  height: fit-content;
}

.question-img-wrapper {
  width: 100%;
  height: 10.0rem;
}

.question-img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.question-answer-box {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.options-wrapper {
  width: 100%;
  height: 3.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.quiz-page-footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.quiz-page-footer > button {
  background-color: transparent;
  border: 1px solid;
  color: var(--primary);
}

/*users profile page*/
.users-profile {
  display: none;
}

/*users profile page*/
.users-profile-score {
  display: none;
}
