@import url(./style.css);
@import url(./quiz.css);

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --secondary: #ffffff;
  --accent: #ece5dd;
  --primary: #4f5255;
  --text: #4f5255a0;
  --black: #000000;
  --accent-two: #e80d82;
  --aclonica: "Aclonica", sans-serif;
  --cinzel: "Cinzel", serif;
  --inter: "Inter", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --form-valid: #25d366;
  --form-error: #f70000;
  --form-good: orange;
}

html {
  font-size: 62.5%;
}

body {
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--inter);
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "";
  cursor: pointer;
}

h1 {
  font-size: 3.2rem;
  font-family: var(--aclonica);
}

h2 {
  font-family: var(--inter);
}

p {
  font-family: var(--inter);
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
	text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

button {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  border: transparent;
  outline: transparent;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--poppins);
  transition: 500ms ease-in-out;
}

main{
  width: 100%;
  height: 100vh;
  padding: 0% 2%;
  cursor: pointer;
}

header {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
	justify-content: space-between;
	position: relative;
}

.profile-icon {
  width: 30%;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile-img-wrapper {
  width: 50px;
  height: 50px;
}

.profile-img-wrapper > img {
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
}

/*scoreboard design*/
.scoreboard {
	width: 40%;
}

.scoreboard-wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
	gap: 0.5rem;
}

.scoreboard-wrapper p {
	font-size: 1.8rem;
	font-weight: 600;
}

.scoreboard-wrapper span {
	font-size: 1.8rem;
	font-weight: 600;
}

/*hamburger menu design*/
.hamburger-menu {
	width: 30%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.hamburger-wrapper {
	width: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: .4rem;
	transition: 550ms ease-in-out;
  overflow: hidden;
}

.hamburger-wrapper.click > #top, .hamburger-wrapper.click > #bottom {
  transform: translate(-500%, 0%);
}

.hamburger-wrapper.click > #middle {
  transform: translate(-500%, 0%);
  width: 60%;
}

.stick, .non-stick {
	width: 100%;
	padding: 0px;
	height: 2px;
	background-color: var(--accent-two);
	transition: 850ms ease-in-out;
}

#top {
	width: 80%;
  transform: translate(0, 0);
	transition: 100ms ease-in-out;
}

#middle {
  transform: translate(0, 0);
	width: 60%;
	transition: 750ms ease-in-out;
}

#bottom {
	width: 40%;
	transition: 950ms ease-in-out;
}

#cross-one {
  width: 60%;
  transform: translate(50px, -50px) rotate(45deg);
  background-color: var(--primary);
}

#cross-two {
  width: 60%;
  transform: translate(-50px, 50px) rotate(-45deg);
  background-color: var(--primary);
}
/*menu design*/
.menu-bar {
	width: 0%;
	height: 0vh;
	padding: 2.0rem 0 0;
  display: flex;
	flex-direction: column;
  justify-content: start;
  align-items: flex-start;
	gap: 2.5rem;
	position: absolute;
	top: 0;
  left: -3%;
	transition: all 550ms ease-in-out;
	background-color: var(--primary);
  transform: translate(0, 0);
}

.menu-bar {
	visibility: hidden;
}

.menu-bar > div {
  margin-left: 5%;
  transition: 0ms ease-in;
}

.menu-bar > div > a {
	color: var(--secondary);
	font-size: 1.8rem;
	font-weight: 800;
	font-family: var(--inter);
	text-decoration: none;
}

/*Welcome section design*/
#welcome-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.welcome-greeting {
  width: 100%;
  margin-bottom: 15.5rem;
}

.welcome-greeting > h1 > span {
  color: var(--primary);
}

.welcome-greeting > p {
  font-weight: 600;
  font-size: 1.8rem;
}

.start-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn > button {
  color: var(--accent);
}

/*quiz page*/
#quiz-page {
  display: none;
}

/*users profile page*/
.users-profile {
  display: none;
}

/*users profile page*/
.users-profile-score {
  display: none;
}